/* background color*/
$base-color:#00BCD4;
$bright-color: #FFFFFF;
$finish-color: #E6FFE5;
$dark-color: black;
$navigation-color: #FFFFFF;
$description-color: #FFFFFF;
$start-color: #757575;
$start-color-background: #B2DFDB;
$footer-color: #FFFFFF;
$plug-color: #FF5252;
$google-color: #FFFFFF;
$apple-color: #000000;
$facebook-color: #1877F2;
$button-color: #0097A7;
$edit-color: #CDDC39;
$delete-color: #FF5252;


/* text color*/
$standard-color-text:#0097A7;
$bright-color-text:#ffffff;
$dark-color-text:#0a0a0a;
$icons-color-text:#0097A7;
$logo-color-text: #0097A7;
$start-color-text:#757575;
$error-color: #db0a0a;
$footer-color-text: #000000;
$google-color-text:rgba(0, 0, 0, 0.54);
$apple-color-text:#ffffff;
$facebook-color-text:#ffffff;
$gray-color-text: #757575;
$placeholder-color: rgba(0, 0, 0, 0.25);

/* Font size*/

$size-x1: 8px;
$size-x2: 16px;
$size-x3: 24px;
$size-x4: 32px;
$size-x5: 40px;
$size-x6: 48px;
$size-x7: 56px;
$size-x8: 64px;
$size-x9: 72px;
$size-x10: 80px;
$size-x11: 88px;
$size-d2: 4px;
$size-d4: 2px;

/* Font weight*/

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;